@import "./_variables";

.App {
  display: flex;
  flex-direction: column;
}
.Navbar {
  background-color: #fdf6ee;
  padding: 2rem 0;
  text-align: center;
}
.hero {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 4rem - 36px);
  .content {
    flex-grow: 1;
    display: flex;
  
    justify-content: center;
    overflow: scroll;
  }
  
  .sidebar {
    position: relative;
    max-width: 30%;
    width: 20rem;
    //   min-width: 20rem;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: 0.5s all;
  
    .trigger {
      // height: 1rem;
      background-color: #fedc95;
      transition: 0.5s all;
  
      display: flex;
      justify-content: flex-end; /* Aligns the child element to the far left */
      padding: 0.4rem;
      * {
        cursor: pointer;
        //   padding: .2rem;
        &:hover {
          background-color: #e3bc67;
        }
      }
    }
  
    .options {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .ours,
      .pairs,
      .story {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px;
        a {
          display: flex;
          height: 100%;
          align-items: center;
          .title {
            text-align: center;
            margin: auto 0;
            p {
              font-family: $titleDescription;
            }
            opacity: 100;
          }
        }
  
        img {
          max-width: 30%;
          width: 6rem;
          margin-left: 0.3rem;
  
          // min-width: 6rem;
        }
      }
  
      .ours {
        background-color: #bfe9d1;
      }
  
      .ours:hover {
        background-color: #a4dabb;
      }
      .ours:active {
        background-color: #90c8a8;
        img {
          filter: brightness(80%);
        }
      }
      .pairs {
        background-color: #dbf8fe;
      }
      .pairs:hover {
        background-color: #afdce4;
      }
      .pairs:active {
        background-color: #96c3ca;
        img {
          filter: brightness(80%);
        }
      }
      .story {
        background-color: #ffd9ce;
      }
      .story:hover {
        background-color: #e6b7aa;
      }
      .story:active {
        background-color: #c79a8e;
        img {
          filter: brightness(80%);
        }
      }
    }
  }
}

.sidebar.active {
  // min-width: 3rem;
  transition: 0.5s all;
  width: 0rem;
  .trigger {
    width: 2rem;
  }
  .options.active {
    * {
      border: none;
    }
    a {
      display: none;
    }
  }
}


// jeu des pairs styles 

.Pairs {
  text-align: center;
  font-family: $regular;
  h1 {
    font-family: $bigTitle;
  }
  // width: 100%;
  .card {
    position: relative;
    img {
      width: 100px;
      // max-width: 200px;
      // min-width: 100px;
      display: block;
      border: 2px solid;
      border-radius: 6px;
    }
  }

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* back of card - cover */
.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

  .card-grid {
    margin-top: 40px;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  button {
    background: none;
    border: 2px solid #fff;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: #cbb8ff;
    color: #543653;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
  }
  button:hover {
    // background: #c23866;
    background-color: #b8a5ef;
  }
  button:active {
    // background: #c23866;
    background-color: #927fcb;
  }
}



@media only screen and (max-width: 600px) {
  .options {
    img {
      display: none;
    }
  }
}
