@import "./_variables";

.App{

        display: flex;
        flex-direction: column;
        height: 100vh; /* This ensures that the container takes up the full height of the viewport */

}

.Navbar{
    background-color: #FDF6EE;
    padding: 2rem 0;
    text-align: center;
    
}
.hero{
    display: flex;
    flex-grow: 1;
}



.content{
    // width: 100vw;
    // height: 100vh;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidebar {
    background-color: #FDF6EE;
    position: relative;
    max-width: 30%;
    min-width: 20rem;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: 0.5s all;

    
}

.trigger{
    // height: 1rem;
  background-color: red;
  display: flex;
  justify-content: flex-end; /* Aligns the child element to the far left */
  padding: .4rem;
}

.options{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .ours,.pairs,.story{
        flex-grow: 1;
        display: flex;
        justify-content: center; 
        align-items: center; 
        border: solid 1px;
        a{display: flex;
            .title{
                text-align: center;
                margin: auto 0;
            }
            }
            img{
                max-width: 30%;
                min-width: 2rem;
            }
    }
}